doctype html
head
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title Cart | Life Style Store
  link(href='css/bootstrap.css' rel='stylesheet')
  link(href='css/style.css' rel='stylesheet')
  script(src='js/jquery.js')
  script(src='js/bootstrap.min.js')
// <?pug
// include 'include/header.php'
// ?>

include includes/header.pug

.row.decor_bg
  .col-md-6.col-md-offset-3
    table.table.table-striped
      thead
        tr
          th Item Number
          th Item Name
          th Price
          th
      tbody
        tr
          td
          td Total
          td Rs 
          td
            a.btn.btn-primary(href='success') Confirm Order
footer
  include includes/footer.pug

// <?pug  include 'include/footer.pug'  ?>
