doctype html
head
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title Cart | Life Style Store
  link(href='css/bootstrap.css' rel='stylesheet')
  link(href='css/style.css' rel='stylesheet')
  script(src='js/jquery.js')
  script(src='js/bootstrap.min.js')
// <?pug
// include 'include/header.php'
// ?>

include includes/header.pug

if products
  .row.decor_bg
    .col-md-6.col-md-offset-3
      table.table.table-striped
        thead
          tr
            th Item Quantity
            th Item Name
            th Price
        tbody
          each product in products
            tr
              td #{product.qty}
              td #{product.item.title}
              td #{product.price}
          td
          td Total
          td Rs #{totalPrice}
          td
            a.btn.btn-primary(href='success') Confirm Order
else
  .row.decor_bg
    .col-sm-6.col-md-6.col-md-offset-3.col.sm.col-sm-offset-3
      h2 No Item in Cart
footer
  include includes/footer.pug

// <?pug  include 'include/footer.pug'  ?>
