doctype html
head
  meta(name='viewport' content='width = device-width, initial-scale = 1')
  title Success | Life Style Store
  link(href='css/bootstrap.css' rel='stylesheet')
  link(href='css/style.css' rel='stylesheet')
  script(src='js/jquery.js')
  script(src='https://js.stripe.com/v3/')
  script(src="js/checkout.js")

// <?pug
// include 'include/header.pug'
// ?>
include includes/header.pug

.row
  .col-sm-6.col-md-4.col-md-offset-4.col-sm-offset-3
    h1 Checkout
    h4 Your Total #{total}Rs
    .div(id='charge-error' class=`alert alert-danger hidden`)
      #{errMsg}
    form(action="/checkout" method="post" id='checkout-form')
      .row
        .col-xs-12
          .form-group
            label(for="name") Name
            input(type="text" id='name' class="form-control" required)
        .col-xs-12
          .form-group
            label(for="address") Address
            input(type="text" id='address' class="form-control" required)
        .col-xs-12
          .form-group
            label(for="card-name") Card Holder Name
            input(type="text" id='card-name' class="form-control" required)
        .col-xs-12
          .form-group
            label(for="card-number") Credit Card Number
            input(type="text" id='card-number' class="form-control" required)
        .col-xs-12
          .row
            .col-xs-6
              .form-group
                label(for="card-expiry-month") Expiration Month
                input(type="text" id='card-expiry-month' class='form-control' required)
            .col-xs-6
              .form-group
                label(for="card-expiry-year") Expiration Year
                input(type="text" id='card-expiry-year' class='form-control' required)

        .col-xs-12
          .form-group
            label(for="cvc") CVC
            input(type="text" id='cvc' class='form-control' required)
      //input(type='hidden' name='_csrf' value = csrfToken)
      button(type='submit' class='btn btn-success') Buy Now
     
br
br


<script src="https://js.stripe.com/v3/"></script>
<script src="js/checkout.js"></script>

footer
  include includes/footer.pug
  // <?pug  include 'include/footer.pug'  ?>

